<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <bpdy>
        <div class="main-content">
            {{>header}}
            <p>This site created by tals, It used data from mapbox and weatherstack</p>
            <img src="/img/robot.png">
        </div>
        {{>footer}}
    </bpdy>
</html>