<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <bpdy>
        <div class="main-content">
            {{>header}}
       
            <p>{{helpText}}</p>
        </div>
       
        {{>footer}}
    </bpdy>
</html>